body {
  
  color: #444444;
  font-size: 15px;
  line-height: 1.0;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Montserrat", sans-serif;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  
  overflow-x: hidden;
  overflow-Y: hidden;
  box-shadow: none;

}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
}

.logo{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 70%;
  max-height: 50%;
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10%);
  }
  100% {
    transform: translatey(0);
  }
}

.container{
  position: absolute;
  width: 50%;
  top: 15%;
  left: 26%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.map{
  width: 100%;
  height: 300%;
}



.centered-link {
  text-align: center;
}

.navstyle{
  pointer-events:auto;
  position: fixed;
  top: 5%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  line-height: 20px;
  border: none;
  padding: 8px;
  font-size: 3vh;
  border-radius: 20px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav{
    position: fixed;
    top: 5%;
    width: 50%;
    left: 20%;
    border-radius: 50px;
    z-index: 9999;
    line-height: 20px;
    border: none;
    padding: 8px;
    font-size: 18px;

  }

  .floating-button {
    border: #333;
    position: fixed;
    top: 8%;
    right: 20px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    z-index: 300;
    cursor: pointer;
    font-size: 5vh;
  }
  
  .floating-button a {
    color: black;
    font-size: 36px;
    text-decoration: none;
    display: block;
  }
  
  .suggestions{
    top:8%;
    left: 50%;
    font-size: 3vh;
    transform: translateX(-50%);
    position: absolute;
    width: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #333;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    flex-grow: 1;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #333;
    border-radius: 20px;
  }
  
  .sidebar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: -200px;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: #fff;
    display: none;
  }
  
  .sidebar.visible {
    right: 0;
    display: none;
    z-index: 10000;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar li:last-child {
    border-bottom: none;
  }
  
  .sidebar li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  

  #search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
  }

  #search-input:focus {
    outline: none;
  }

  #search-results {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    display: none;
  }

  #search-results li {
    padding: 10px;
    cursor: pointer;
  }

  #search-results li:hover {
    background-color: #eee;
  }
  
  

  @media (max-width: 768px) {
    .navstyle {
      width: 60%;
      top: 15%;
      padding: 5px;
      font-size: 16px;
    }
    .suggestions{
      top:7%;
      left: 50%;
      width: 60%;
      font-size: 2vh;
    }
    .logo{
      position: relative;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      max-width: 80%;
      max-height: 60%;
    }
    .container {
      position: absolute;
      top: 12.5%;
      left: 0;
      right: 0;
      margin: auto;
    }
    .logoo{
      border-bottom: none; 
    }
  }
  
  nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0 130px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 0px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    font-size: 30px;
    margin: 0;
    padding: 0;
    
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 10px; /* altere o valor aqui */
  }
  
  .nav-links a:hover,
  .nav-links a.active {
    color: #20c997;
    position: relative;
    border-bottom: 2px solid #20c997;
  }
  
  .nav-links a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-bottom: 1px solid #20c997;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .burger {
    display: none;
    cursor: pointer;
    
  }
  
  .burger div {
    width: 20px;
    height: 1px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
    
  }
  
  @media screen and (max-width: 1024px) {
    .nav-links {
      position: fixed;
      padding: 50px;
      height: 50vh;
      width: 100%;
      flex-direction:column;
      background-color: #ffffff;
      top: 80px;
      left: -100%;
      transition: all 0.3s ease;
      
    }
  
    .nav-links li {
      font-size: 5px;
      
      width: 50%;
      text-align: center;
    }
  
    .nav-links a {
      padding: 5px 1px;
      border-radius: 0;
      display: block;
      
    }
  
    .burger {
      position: relative;
      display: block;
      left: 85%;
    }
    html{
  
      overflow-x: hidden;
      overflow-Y: hidden;
      box-shadow: none;
    
    }
  }

  @media (max-width: 768px) {
    nav {
      overflow: hidden;
    }
    html{
  
      overflow-x: hidden;
      overflow-Y: hidden;
      box-shadow: none;
    
    }
  }
  
  .nav-active {
    left: 0;
  }
  
  .logoo{
    position: relative;
    font-size: 25px;
    margin: 0;
    padding: 0px;
    right: 120px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
    font-style: none;
    color: #000000;
    border-bottom: none; 
  }